<!DOCTYPE html>
<html>
	<head>
		<title>About us</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="..\static\css\header and footer.css" />
	    <style>
	    body{
	    	background-color: hsl(240,60%,80%);
	    }
		</style>
	</head>
	</head>
	<body>
		<header class="center">
	    <div>
	    <ul id="ul1">
	    	<li id="ul1_li1"><a href="index">Homepage</a></li>
	    	<li id="ul1_li1"><a class="active" href="about.html">About us</a></li>
	    	<li id="ul1_li1"><a  href="contact">Contact us</a></li>
	    </ul>
	    </div>
	     <div id="topmessage">
         </div>
	    <!--<h1 class="center">Homepage</h1>-->
		</header>
		<section style="text-align: center;">
		<h1>Hello</h1>
        <p>My name is Weili He</p>
        <img src="..\static\wallpapers\ucb.png" style="width:304px;height:250px">
        </section>
		<footer class="footer1">
	    <div>
	    <ul id="ul1" style="background-color: orange">
	    	<li id="ul1_li1"><a href="index">Homepage</a></li>
	    	<li id="ul1_li1"><a href="about">About us</a></li>
	    	<li id="ul1_li1"><a href="contact">Contact us</a></li>
	    </ul>
	    </div>
		</footer>
	</body>
</html>