<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 1 - INFO 253 Web Architecture</title>
		<link rel="stylesheet" href="..\static\css\header and footer.css" />
		<link rel="stylesheet" href="..\static\css\homepage.css" />
		<style>
			body{
				background-color: hsl(240,60%,80%);
			}
		</style>
	</head>
	<body>
	    <header class="center">
	    <div>
	    <ul id="ul1">
	    	<li id="ul1_li1"><a class="active" href="index">Homepage</a></li>
	    	<li id="ul1_li1"><a href="about">About us</a></li>
	    	<li id="ul1_li1"><a href="contact">Contact us</a></li>
	    </ul>
	    </div>
	    <!--<h1 class="center">Homepage</h1>-->
		</header>
		<div class="center blog">
		
        <h2><a id="bloglink" href="blog/8-experiments-in-motivation">8 Experiments in Motivation</a></h2><br>
        <h2><a id="bloglink" href="blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a></h2><br>
        <h2><a id="bloglink" href="blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></h2><br>
        <h2><a id="bloglink" href="blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></h2><br>
        <h2><a id="bloglink" href="blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a></h2><br>
        
        </div>
        

		<footer class="footer1">
	    <div>
	    <ul id="ul1" style="background-color: orange">
	    	<li id="ul1_li1"><a href="index">Homepage</a></li>
	    	<li id="ul1_li1"><a href="about">About us</a></li>
	    	<li id="ul1_li1"><a href="contact">Contact us</a></li>
	    <!-- when you type the path in the webserver.py, you need to change it here too -->
	    </ul>
	    </div>
		</footer>
	</body>
</html>
	
